@import "_vars.scss";
@import "_portfolio.scss";
@import "_welcome.scss";

* {
	box-sizing: border-box;
}
body {
  font-family: $font-body;
  font-weight: 300;
}
html {
  font-size: 17px;
  line-height: 1.6em;
}

::-webkit-scrollbar { 
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #e4d2e4;
}
.main {
	> div {
  	padding: 0 3em; 
  }
}