@tailwind base;

body {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  @apply antialiased;
  @apply text-defaulttext;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  @apply bg-dahlia;
}

a {
  @apply underline;
}

h1,
h2,
h3 {
  @apply font-display;
  font-weight: 600;
}

h3 {
  @apply text-xl;
}
h4,
h5,
h6 {
  font-weight: 700;
}

@tailwind components;

@tailwind utilities;
