@tailwind base;

body {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  @apply antialiased;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-thumb {
  @apply bg-dahlia;
}

a {
  border-bottom: 1px solid;
  transition: all 200ms;
  border-color: inherit;
}

a:hover {
  padding-bottom: 3px;
}

h1,
h2,
h3 {
  @apply font-display;
  @apply font-semibold;
  line-height: 1.04;
}

h3 {
  @apply text-2xl;
}
h4,
h5,
h6 {
  @apply font-medium;
  line-height: 1.26;
}

@tailwind components;

@tailwind utilities;
