* {
  box-sizing: border-box; }

body {
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #444; }

html {
  font-size: 1em;
  line-height: 1.6em; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: #C4AABD; }

.main > div {
  padding-left: 1.5em;
  padding-right: 1.5em; }
  @media (min-width: 1024px) {
    .main > div {
      padding-left: 3em;
      padding-right: 3em; } }

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400; }

@media (min-width: 1024px) {
  h2 {
    font-size: 2.1vw;
    line-height: 3.5vw; } }

a {
  color: #573452;
  transition: 300ms all ease-in;
  text-decoration: none;
  font-weight: 500; }
  a:hover {
    opacity: .5; }

.resume {
  display: grid;
  padding-top: 5em;
  padding-bottom: 5em; }
  @media (min-width: 1024px) {
    .resume {
      grid-template-columns: 1fr 10fr 1fr; } }
  .resume .content {
    grid-column: 2; }
    .resume .content > div {
      margin-bottom: 20px; }
  .resume h3, .resume h4, .resume p, .resume ul {
    margin: 0; }
  .resume h3 {
    font-size: 1.2rem;
    margin-bottom: .25rem; }
  .resume h3, .resume h4 {
    font-weight: 500; }
  .resume h4 span::before {
    content: "|";
    margin: 0 13px; }
  .resume .job {
    margin-bottom: .5rem; }
  .resume .position {
    font-style: italic; }
  .resume .skills {
    display: grid; }
    @media (min-width: 1024px) {
      .resume .skills {
        grid-template-columns: 1fr 1fr 1fr; } }
    .resume .skills ul {
      list-style-type: none;
      padding: 0; }

.welcome {
  width: 100%;
  height: 100vh;
  background: #efefef url("./img/Agatep_Krisha_v1.jpg");
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
  justify-content: center;
  display: grid;
  align-content: center; }
  @media (max-width: 640px) {
    .welcome {
      grid-template-rows: 1fr 1fr 1fr; } }
  @media (min-width: 641px) and (max-width: 1023px) {
    .welcome {
      grid-template-rows: 4fr 2fr 1fr; } }
  @media (min-width: 1024px) {
    .welcome {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 5fr 1fr; } }
  .welcome .tint {
    display: none; }
    @media (max-width: 640px) {
      .welcome .tint {
        z-index: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(196, 170, 189, 0), rgba(196, 170, 189, 0.95)); } }
  .welcome .content {
    grid-column: 7; }
    @media (max-width: 640px) {
      .welcome .content {
        grid-row: 3;
        z-index: 1;
        background: white;
        padding: .75em; } }
    @media (min-width: 641px) and (max-width: 1023px) {
      .welcome .content {
        grid-row: 2;
        background: white;
        padding: 1em; } }
  .welcome h1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: 0;
    font-size: 7vw;
    line-height: 10vw; }
    @media (min-width: 1024px) {
      .welcome h1 {
        font-size: 3.5vw;
        line-height: 4.5vw; } }
  .welcome h2 {
    margin: 0; }
    @media (max-width: 640px) {
      .welcome h2 {
        font-size: 4.5vw;
        line-height: 8vw; } }

.contact {
  background: #C4AABD;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center; }
  .contact a {
    margin-right: 20px;
    display: inline-block; }
    .contact a:last-child {
      margin-right: 0; }
